.uib-day button, .uib-month button, .uib-year button {
  background-color: white;
  border: none;
}

.uib-datepicker .uib-title {
  border: none;
}

.uib-datepicker .uib-title {
  border: none !important;
}

.uib-left, .uib-right {
  border: none !important;
}